body{
    background-color: whitesmoke;
}

.my-inputs {
    margin: 6px;
    width: 150px;
    height: 20px;
    text-align: right;
}

#input-res {
    width: 40px;
    min-width: 40px;
    text-align: center;
}

.my-buttons {
    margin: 6px;
}